body{
    font-family:outfit, sans-serif;
    background-image:url(image.png);
    background-size:cover;
    font-weight:bold;
    color:weight;
    text-align:center;
}
h1{
    color:goldenrod;

}
#message-el{
    font-style:italic;
    color:white;
}
#sum-el{
    font-style:italic;
    color:white;
}
#cards-el{
    font-style:italic;
    color:white;
}
#button-el{
    color:green;
    background-color: goldenrod;
    width:200px;
    height:40px;
    border-radius:10px;
    font-weight:bold;
    font-size:20px;
}