    .search{
       display:block;
    }
    
    .videotitle{
        font-family:Roboto;
        font-size:14px;
      font-weight:bold;

      
        line-height:24px;
       margin-bottom:14px;
       margin-top:4px;
       
    }
    .videostats{
        font-size:14px;
         color:rgb(96,96,96);
         margin-top:0;
         margin-bottom:10px;

    }
    .videochannel{
        font-size:14px;
         color:rgb(96,96,96);
         margin-top:0;
         margin-bottom:10px;
         font-family:Arial;
        

    }
    .videodescription{
        font-size:14px;
         color:rgb(96,96,96);
         margin-top:0;
         margin-bottom:20px; 
         width:280px;
         font-family:Arial;
         line-height:22px;


    }
    .thumbnail-1{
        width:300px;
        
        display:block;
    }
    
    .videopreview{
       width:300px;
       display:inline-block;
       vertical-align: top;
       margin-right: 15px;
       border-color: black;
       border-style: solid;
      
    }
    .dp{
        margin-top:8px;
        width:30px;
        border-radius: 15px;
    }
    .dpcontain{
        display:inline-block;
        width:30px;
        height:146px;
    }
    .videoinfocontain{
        display:inline-block;
        vertical-align: top;
        width:260px;
        margin-left:4px;
    }
    .thumb{
        margin-bottom:6px;
    }

