    .search{
       display:block;
    }
    
    .videotitle{
        font-family:Roboto;
        font-size:14px;
      font-weight:bold;

      
        line-height:24px;
       margin-bottom:14px;
       margin-top:4px;
       
    }
    .videostats{
        font-size:14px;
         color:rgb(96,96,96);
         margin-top:0;
         margin-bottom:10px;

    }
    .videochannel{
        font-size:14px;
         color:rgb(96,96,96);
         margin-top:0;
         margin-bottom:10px;
         font-family:Arial;
        

    }
    .videodescription{
        font-size:14px;
         color:rgb(96,96,96);
         margin-top:0;
   
         width:280px;
         font-family:Arial;
         line-height:22px;


    }
    .thumbnail-1{
        width:100%;
    }
    
    .videopreview{
    
       
       
       border-color: black;
       border-style: solid;
      
    }
    .dp{
        margin-top:8px;
        width:40px;
        border-radius: 20px;
    }
    
    
    .thumb{
        margin-bottom:6px;
    }
    .videoinfogrid{
        display:grid;
        grid-template-columns: 50px 1fr;
    }
    .videogrid{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    .header{
        height:50px;
        display:flex;
        justify-content: space-between;
       }
       .first{
        width:250px;
        background-color: lightblue;
       }
       .second{
        flex:1;
        background-color: lightpink;
        margin-left: 55px;
        margin-right: 30px;
        max-width: 500px;
       }
       .third{
        width:250px;
        background-color: lightgreen;
        
       }

