body{
    margin:0;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
   min-width:400px;
}
input{
    width:100%;
    box-sizing:border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;
    border-color: aqua;
    font-size: 20px;
    margin-bottom:2px;


}
#con{
    display:flex;
    gap:10px;
    flex-direction: row;
    justify-content:center;
}
button{
    width:50%;
    box-sizing:border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    font-size: 20px;
    background-color:rgb(4, 161, 4);
    color:white;
    font-weight:bold;

}
ul{
    list-style:none;
    padding-left:0px;
    margin-top:20px;

}
li{
    margin-top:5px;

}
li a{
    color:rgb(4, 161, 4);
    font-size:20px;

}


